.cardo{
    background-image: url('./bridge.jpeg');
    background-size: cover;
    height: 12rem;   
}
.blackshade{
    background-color: rgba(57, 78, 42, 0.452);
}
.paet{
    display: flex;
    flex-direction: row;
}
/* .cardbodys{
    height: 200rem;
    background-color: #02549e;
} */
.hdbtn{
    background-color: red !important;
    font-size: 10px !important;
    width: 6.2rem;
    /* border-radius: 20% !important; */

}
.bbl{
    display: flex;
    justify-content: space-around;
}
.iconsdf{
    padding-top: 7rem;
}
.hdb{
    margin-top: 1rem;
}
.wasprice{
    color: red;
}
.nowprice{
    font-size: 12px;
    color: #02549e ;
    margin-top: 0px !important;
    padding-top: 0px !important;
}
.allnowdb{
    display: flex;
    flex-direction: row;
}

.sqt{
    font-size: 12px;
}
.condo{
    background-color: purple !important;
    font-size: 12px !important;
}
.firstline{
    display: flex;
    flex-direction: row;
}
.posted{
    color: #02549e;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}
.comparebtn{
    background-color:#c5c5c5 !important;
    color:  grey !important;
    display: flex !important;
    align-items: center !important;
}
.feb{
    color: black;
}
.comicon{
    display: flex;
    flex-direction: row;
}
.fvt{
    padding-right: 1rem !important;
}
.heartshre{
    color: #02549e;
    display: flex;
    justify-content: flex-end;
}
.heart:hover{
    color: red;
    display: flex;
    align-items: center;
    margin-left: 4.5rem;
}
.clode{
    color: red;
    display: flex;
    justify-content: flex-end;
    /* padding-left: 3.5rem; */
}
.idbtn{
    background-color: white !important;
    color: black !important;
    font-size: 10px !important; 
}
.idb{
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}
.bedicn{
    color: red;
    padding-top: 114px;
}
.parenttwo{
    display: flex;
    flex-direction: row;
    /* background-color: black; */
}
.bathicn{
    color: white;
    padding-top: 114px;
    padding-left: 1rem;
}
.parkicn{
    color: orange;
    padding-top: 114px;
    padding-left: 1rem;
}
.crst{
    height: 600px;
    overflow-y: scroll;
}
.crst2{
    height: 100%;
    width: 260px;
    /* overflow-y: scroll; */
}
.fef{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}