.comfree{
    color: #02549e;
}
.help{
    color: orange;
}
.callus{
    padding-left: 2rem;
    padding-right: 2rem;
    height: 2.5rem;
}
.callus:hover{
    padding-left: 2rem;
    padding-right: 2rem;
    height: 2.5rem;
    background-color: aliceblue;
    color: #02549e;
    border: white;
}
.agentshb{
    height: 10rem;
    width: 12rem;
    
    /* padding-left: 10rem; */
}
.agnt{
    /* background-color: #02549e; */
    display: flex;
    justify-content:flex-end;
}
.agentpicrow{
    /* background-color: #02549e; */
}