.assignmet{
    color: #02549e;
    border-left: 1px solid #c5c5c5;
    border-radius: 12px 12px 0 0;
    border-right: 1px solid #c5c5c5;
    border-top: 1px solid #c5c5c5;
    color: #02549e;
    display: inline;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 700;
    padding: 8px;
}
.headerrow{
    border: 1px solid #c5c5c5;
}
.asign{
    margin-bottom: 8px;
}
.hedercls{
    padding-left: 0.75rem;
}
.rangeslidr{
    border-left: 1px solid #c5c5c5;
}
/* .buldtyp{
    width: 4rem;
    color: black !important;
    background-color: aliceblue !important;  */
.buldtyp{
    padding-left: 22px;
}
.buildbutn{
    border: 1px solid #c5c5c5;
    font-size: 15px;
}
.colbed{
    padding-left: 2.5rem;
}
.beds{
    border: 1px solid #c5c5c5;  
}
.flter{
    font-size: 15px !important;
    color: black !important;
    border: 1px solid #c5c5c5 !important;
}
.colfilter{
    padding-left: 1px ;
}
.serchicon{
    font-size: 3rem !important;
    background-color: #02549e;
    color: azure;
    border-radius: 50%;
    padding: 5px;
}
.colsearch{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding-right: 1rem;
    border-left: 1px solid #c5c5c5;
}
.rsult{
    color: #02549e;
    font-weight: 300;
}
.lprice{
    font-size: 24px;
    font-weight: bolder;
}
.fourbtn{
    display: flex;
    justify-content: flex-end;
    height: 3rem;
}
.srchtt{
    padding-right: 1.5rem;
}
.partdv{
    display: flex;
    flex-direction: column;
    color: gray;
}
.sorti{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}